In [13]:
# Kennedi Todd
# July 31, 2024
# decision trees
# https://scatterplotpress.teachable.com/p/ml-code-exercises

# libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

# read data
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [14]:
# delete smoker
del df['smoker']

# one-hot encoding
df = pd.get_dummies(df, columns = ['time','day','sex'])

# assign X and y vars
X = df.drop('tip', axis = 1)
y = df['tip']

# split into testing/training
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, shuffle = True)

# assign algorithm
model = DecisionTreeRegressor()

# train
model.fit(X_train, y_train)

# evaluate training
mae_train = mean_absolute_error(y_train, model.predict(X_train))
print('%.2f' % mae_train)

0.00

In [15]:
# test and evaluate
mae_test = mean_absolute_error(y_test, model.predict(X_test))
print('%.2f' % mae_test)

0.96