In [30]:
# Kennedi Todd
# August 1, 2024
# Chapter 5: Data Scrubbing

# libraries
import pandas as pd

# read data
df = pd.read_csv('listings_berlin.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1944,bright & airy Pberg/Mitte 3 months or more,2164,Lulah,Mitte,Brunnenstr. Nord,52.54433,13.39761,Private room,28,60,18,2018-11-11,0.21,3,101
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ion,Mitte,Brunnenstr. Süd,52.53305,13.40394,Entire home/apt,74,90,141,2020-04-03,2.20,6,357
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.53471,13.41810,Entire home/apt,90,62,147,2017-03-20,1.14,1,254
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.49884,13.34940,Private room,29,7,27,2018-08-16,0.28,1,285
4,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.51163,13.45289,Entire home/apt,79,7,135,2021-01-02,1.02,1,0

In [31]:
# remove unwanted vars
del df['longitude']
del df['latitude']

# inspect missing values
df.isnull().sum()

id                                   0
name                                30
host_id                              0
host_name                           12
neighbourhood_group                  0
neighbourhood                        0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       4155
reviews_per_month                 4155
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [32]:
# fill missing values with the avg value
# this does not apply to non-numeric data or one-hot encoded variables
#df['reviews_per_month'].fillna(df['reviews_per_month'].mean()), inplace = True)

# fill missing values with the mode
# our mode is NAN (not a number) and is not a valid value, common with floating-point numbers
#df['reviews_per_month'].fillna(df['reviews_per_month'].mode()), inplace = True)

# fill missing value with a custom value like 0
#df['reviews_per_month'].fillna(0)

# most drastic measure is to drop columns/rows with missing value
#df.dropna(axis = 0,       # 0 = rows, 1 = columns
#          how = 'any',    # drop row/column if any or all values missing
#          subset = None,  # define which cols (or none) to search for missing values
#          inplace = True) # update rather than replace

# high number of missing values for laste_review and reviews_per_month so we will remove the vars
del df['last_review']
del df['reviews_per_month']

# name and host_name have discrete variables, we will remove rows with missing values
df.dropna(axis = 0,       # 0 = rows, 1 = columns
          how = 'any',    # drop row/column if any or all values missing
          subset = ['name', 'host_name'],  # define which cols (or none) to search for missing values
          inplace = True) # update rather than replace

# inspect
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [33]:
# one-hot encoding
df = pd.get_dummies(df,
                   columns = ['neighbourhood_group','neighbourhood'],
                   drop_first = True)
df.head()

,id,name,host_id,host_name,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,...,neighbourhood_West 3,neighbourhood_West 4,neighbourhood_West 5,neighbourhood_Westend,neighbourhood_Wiesbadener Straße,neighbourhood_Wilhelmstadt,neighbourhood_Zehlendorf Nord,neighbourhood_Zehlendorf Südwest,neighbourhood_nördliche Luisenstadt,neighbourhood_südliche Luisenstadt
0,1944,bright & airy Pberg/Mitte 3 months or more,2164,Lulah,Private room,28,60,18,3,101,...,False,False,False,False,False,False,False,False,False,False
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ion,Entire home/apt,74,90,141,6,357,...,False,False,False,False,False,False,False,False,False,False
2,3176,Fabulous Flat in great Location,3718,Britta,Entire home/apt,90,62,147,1,254,...,False,False,False,False,False,False,False,False,False,False
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Private room,29,7,27,1,285,...,False,False,False,False,False,False,False,False,False,False
4,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,Entire home/apt,79,7,135,1,0,...,False,False,False,False,False,False,False,False,False,False